# Ignore node_modules folder to avoid copying unnecessary dependencies
node_modules

# Ignore any local environment files
.env

# Ignore Docker-related files
Dockerfile
docker-compose.yml
.dockerignore

# Ignore log files
*.log